.App {
  height: 100vh;
  text-align: center;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
  height: 50px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: rgba(9, 8, 8, 0.767);
  color: #fff;
}

nav span {
  margin-top: 0.5rem;
}

nav input {
  width: 150px;
  margin-top: 0.5rem;
  height: 1.5rem;
}

.main {
  display: flex;
  justify-content: space-around;
}

.colaborador-main {
  border: 2px solid #1f6d97;
  border-radius: 1.2rem;
  padding: 0 1.5rem 1.5rem;
  width: 450px;
  height: 200px;
}

.colab-name,
.colab-mail,
.advice-text {
  margin: 15px auto;
}

.colab-name input,
.colab-mail input {
  margin-left: 0.6rem;
}

.advice-text {
  padding: 0.3em 1em;
  color: #145e86dc;
}

.colaborador-container {
  border: 2px solid #ffffff;
  width: 50%;
  border-radius: 1.2rem;
}

.colaborador-list {
  margin: 2rem;
}


li {
  margin: 1.5rem auto;
  font-size: 19px;
  text-align: start;
  background-color: #1f6d97;
  color: #f2fcfe;
  border-radius: 4rem;
  padding: 5px 0 10px 15px;
}

li:hover {
  background-color: #1c92d2;
  cursor: pointer;
}

